<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/insforo.css">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block topBar %}{% endblock %}
            {% block replyBox %}{% endblock %}
            {% block postList %}{% endblock %}
        {% endblock %}
        <script src="{{ asset('vendor/jquery/jquery-3.1.0.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
