{% if posts %}
    {% for post in posts %}
        {% include 'AppBundle:default:post.html.twig' %}
    {% endfor %}
    {% set lastPost = posts|last %}
    <div id="morePosts" class='more' onclick='getMorePosts({{ lastPost.id -1 }});'>--- more ---</div>
{% endif %}
