<div id='topBar'>
    <div id='numPosts' class='toolBarItem'>Posts: {{ numPosts }}</div>
    <div id='exportPosts' class='toolBarItem'><a id='exportPostsButton' href='{{ path('export_csv') }}'>Export</a></div>
    <div id='numViews' class='toolBarItem'>Views: {{ numViews }}</div>
</div>
