<div id='topBar'>
    <div id='numPosts' class='toolBarItem'>Posts: {{ numPosts }}</div>
    <div id='exportPosts' class='toolBarItem'><button id='exportPostsButton'>Export</button></div>
    <div id='numViews' class='toolBarItem'>Views: {{ numViews }}</div>
</div>
